/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 juin 2017, 09:29:02
    Author     : hicham
*/

body{
    background-color: #97ecdb;
    color: #70146a;
}
h1,h2{
    font-family: Samarkan;
}